/*@media screen and (max-width: 1024px) {
	#search input[type="text"] {
		width: 200px;
	}
	.product_cart {
		width: 21.1%;
		padding: 0 5px;
	}
	.slide img{
		max-width: 100%;
		height: auto;
	}
	#slider-wrap{
		height: auto;
	}
	#slider{
		height: 442px;
	}
	#action {
		max-height: 73%;
		top: 769px;
	}
	#inner_logo, #top_menu_inner, .order.left, #footer, #inner_top, .name_prod{
		padding-left: 10px;
		padding-right: 10px;
	}
	#timer {
		top: -413px;
		right: 24px;
	}
	.inner_hits{

		margin-top: 0;
	}
	.inner_pro_inf span:first-child {
		font-size: 10pt;
	}
	.img_new:before{
		margin-left: -32px;
	}
	.img_hits:before {
		margin-left: -28px;
	}
	.category {
		margin-left: 10px;
		margin-right: 10px;
	}
	.center.right .product_cart.triple{
		width: 37%;
	}
	.center.right .inner_product.centrum{
		text-align: center;
	}
	.sort_link{
		text-align: center;
	}
	.big_img img{
		max-width: 100%;
	}
	..product_info_features.right {
		font-size: 100%;
		max-width: 48%;
	}
	.product_info_img.left{
		max-width: 48%;
	}
	.small_images_item {
		width: 21.8%;
	}
	.add_item {
		padding: 8px 9px;
	}
	.prormo input[type="text"] {
		width: 52%;
	}
	.submit input {
		padding: 10px 60px;
	}
	.samoviv_item {
		width: 37%;
	}
	.fifty{
		padding-left: 5px;
	}
	.hits_item, .sale_item{
		left: -66px;
	}
}
@media screen and (max-width: 768px) {
	#topmenu{
		font-size: 90%;
	}
	nav ul li a {
		padding: 10px 9px 10px 9px;
	}
	#top_menu_inner{
		padding-left: 0;
	}
	#search input[type="text"] {
		width: 160px;
		margin-top: 0;
	}
	#search form {
		bottom: 1px;
		position: relative;
	}
	#action {
		max-height: 64%;
		top: 597px;
		font-size: 90%;
		max-width: 50%;
	}
	#action_bottom .right {
		width: 36%;
		padding-left: 12px;
		margin-right: 0;
	}
	#timer {
		top: -342px;
		right: -32px;
	}
	#slider {
		height: 329px;
	}
	.line_prod {
		margin-top: 20px;
	}
	.product_cart {
		width: 28.1%;
	}
	.inner_pro_inf div {
		width: 50%;
	}
	#ul_inf {
		margin-right: 90px;
	}
	#ul_mag {
		margin-left: 40px;
	}
}
@media screen and (max-width: 736px) {

}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 568px) {

}
@media screen and (max-width: 412px) {

}*/
/*телефон*/
/*
@media screen and (max-width: 360px) {
	#inner_top .left p {
		margin-left: 0px;
	}
	.product_info_features.right {
		width: 100%;
	}
	.product_info_img.left {
		max-width: 100%;
	}
	#inner_top .left {
		width: 39%;
	}

	#inner_top .right {
		width: 61%;
	}
	#logo {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#phone {
		margin-left: 18px;
		margin-top: 10px;
		font-size: 80%;
		max-width: 50%;
	}
	#logotip img{
		max-width: 100%;
	}
	#logotip{
		max-width: 50%;
	}

}
@media screen and (max-width: 320px) {

}*/

@media screen and (max-width: 2000px) {
	.inner_pro_inf div:last-child span:last-child {
		font-size: 110%;
	}
}
@media screen and (max-width: 1200px) {
	.navbar-nav>li>a {
		font-size: 110%;
		padding: 12px 13px 12px 13px;
	}
	.black {
		font-size: 90%;
		margin-left: -10px;
	}

	.sale_item, .hits_item{
		left: -60px;
	}

	.product_cart a, .product_cart p{
		font-size: 100% !important;
	}

	.inner_pro_inf a, .inner_pro_inf span{

	}
	.inner_pro_inf div:first-child span:first-child{
		font-size: 82%;
	}
	.inner_pro_inf div a{
		font-size: 87% !important;
	}
}
@media screen and (max-width: 992px) {
	.navbar-nav>li>a {
		font-size: 85%;
		padding: 8px 10px 8px 10px;
	}
	#search input[type="text"] {
		width: 178px;
	}
	.navbar-form {
		margin-top: -1px;
	}
}
@media screen and (max-width: 768px) {
	#logotip{
		margin-bottom: 25px !important;
		text-align: center;
	}
	#logotip p{
		font-size: 130%;
	}
	#logotip img{
		width: 60%;
	}
	.navbar-form {
		margin-right: 0px;
		margin-left: 0px;
	}
	.navbar-nav {
		margin: 0;
	}
	#search input[type="text"] {
		width: 250px !important;
		height: 40px;
	}
	#search input[type="submit"] {

		padding: 10px 38px 10px 1px;
	}
	.inner_pro_inf div a, .inner_pro_inf span{
		font-size: 130% !important;
	}
	.product_cart p {
		font-size: 130% !important;
	}
	.carus{
		padding: 0;
	}

}
@media screen and (max-width: 713px) {

	.inner_pro_inf div a, .inner_pro_inf span{
		font-size: 120% !important;
	}
	.product_cart p {
		font-size: 120% !important;
	}

}
@media screen and (max-width: 713px) {

	.inner_pro_inf div a, .inner_pro_inf span{
		font-size: 100% !important;
	}
	.product_cart p {
		font-size: 120% !important;
	}

}


@media screen and (max-width: 568px) {
	#logotip p{
		font-size: 100%;
	}
	#logotip img{
		width: 80%;
	}

	.col-md-3.col-sm-4.col-xs-6.product_cart{
		width: 85%;
	}
	#logo_footer img:first-child{
		max-width: 100%;
	}
	#logo_footer{
		margin-top: 0;
	}
	#logo_footer a img{
		margin-right: 20px;
	}
}

@media screen and (max-width: 360px) {
	#logotip p{
		font-size: 80%;
	}
	.navbar-nav>li>a {
		font-size: 120% !important;
	}
	#logotip img{
		width: 100%;
	}
}
@media screen and (max-width: 320px) {
	.inner_pro_inf div a img {
		width: 20%;
	}
}




