/*@media screen and (max-width: 1024px) {
	#search input[type="text"] {
		width: 200px;
	}
	.product_cart {
		width: 21.1%;
		padding: 0 5px;
	}
	.slide img{
		max-width: 100%;
		height: auto;
	}
	#slider-wrap{
		height: auto;
	}
	#slider{
		height: 442px;
	}
	#action {
		max-height: 73%;
		top: 769px;
	}
	#inner_logo, #top_menu_inner, .order.left, #footer, #inner_top, .name_prod{
		padding-left: 10px;
		padding-right: 10px;
	}
	#timer {
		top: -413px;
		right: 24px;
	}
	.inner_hits{

		margin-top: 0;
	}
	.inner_pro_inf span:first-child {
		font-size: 10pt;
	}
	.img_new:before{
		margin-left: -32px;
	}
	.img_hits:before {
		margin-left: -28px;
	}
	.category {
		margin-left: 10px;
		margin-right: 10px;
	}
	.center.right .product_cart.triple{
		width: 37%;
	}
	.center.right .inner_product.centrum{
		text-align: center;
	}
	.sort_link{
		text-align: center;
	}
	.big_img img{
		max-width: 100%;
	}
	..product_info_features.right {
		font-size: 100%;
		max-width: 48%;
	}
	.product_info_img.left{
		max-width: 48%;
	}
	.small_images_item {
		width: 21.8%;
	}
	.add_item {
		padding: 8px 9px;
	}
	.prormo input[type="text"] {
		width: 52%;
	}
	.submit input {
		padding: 10px 60px;
	}
	.samoviv_item {
		width: 37%;
	}
	.fifty{
		padding-left: 5px;
	}
	.hits_item, .sale_item{
		left: -66px;
	}
}
@media screen and (max-width: 768px) {
	#topmenu{
		font-size: 90%;
	}
	nav ul li a {
		padding: 10px 9px 10px 9px;
	}
	#top_menu_inner{
		padding-left: 0;
	}
	#search input[type="text"] {
		width: 160px;
		margin-top: 0;
	}
	#search form {
		bottom: 1px;
		position: relative;
	}
	#action {
		max-height: 64%;
		top: 597px;
		font-size: 90%;
		max-width: 50%;
	}
	#action_bottom .right {
		width: 36%;
		padding-left: 12px;
		margin-right: 0;
	}
	#timer {
		top: -342px;
		right: -32px;
	}
	#slider {
		height: 329px;
	}
	.line_prod {
		margin-top: 20px;
	}
	.product_cart {
		width: 28.1%;
	}
	.inner_pro_inf div {
		width: 50%;
	}
	#ul_inf {
		margin-right: 90px;
	}
	#ul_mag {
		margin-left: 40px;
	}
}
@media screen and (max-width: 736px) {

}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 568px) {

}
@media screen and (max-width: 412px) {

}*/
/*телефон*/
/*
@media screen and (max-width: 360px) {
	#inner_top .left p {
		margin-left: 0px;
	}
	.product_info_features.right {
		width: 100%;
	}
	.product_info_img.left {
		max-width: 100%;
	}
	#inner_top .left {
		width: 39%;
	}

	#inner_top .right {
		width: 61%;
	}
	#logo {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#phone {
		margin-left: 18px;
		margin-top: 10px;
		font-size: 80%;
		max-width: 50%;
	}
	#logotip img{
		max-width: 100%;
	}
	#logotip{
		max-width: 50%;
	}

}
@media screen and (max-width: 320px) {

}*/

@media screen and (max-width: 2000px) {
	.inner_pro_inf div:last-child span:last-child {
		font-size: 110%;
	}
	#inner_banner_action {
		height: auto;
		margin: 0 auto;
	}
	#inner_banner_action img {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		max-width: none;
	}
	.small {
		top: -250px !important;
	}
}
@media screen and (max-width: 1200px) {
	.order_button input {
		padding: 10px 20px;
	}
	.navbar-nav>li>a {
		font-size: 110%;
		padding: 12px 13px 12px 13px;
	}
	.black {
		font-size: 90%;
		margin-left: -10px;
	}

	.sale_item, .hits_item{
		left: -60px;
	}

	.product_cart a, .product_cart p{
		font-size: 100% !important;
	}

	.inner_pro_inf a, .inner_pro_inf span{

	}
	.inner_pro_inf div:first-child span:first-child{
		font-size: 76%!important;
	}
	.inner_pro_inf div a, .inner_pro_inf div span{
		font-size: 87% !important;
	}
	.inner_pro_inf div:last-child span:first-child{
		font-size: 105% !important;w
	}
    .submit a {
        padding: 10px 60px;
    }
    .add_item {
        padding: 5px 8px;
    }
	.samoviv_item{
		width: 46%;
	}
	.cur_item .left {
		width: 60%;
	}
}
@media screen and (max-width: 992px) {
	.navbar-nav>li>a {
		font-size: 85%;
		padding: 8px 10px 8px 10px;
	}
	#search input[type="text"] {
		width: 178px;
	}
	.navbar-form {
		margin-top: -1px;
	}

	.arr_up, .arr_down {
		top: 10px;
		left: 40px;
	}
	.col-md-6.col-md-push-6.product_price_info h1 {
		margin-top: 0;

	}
	.col-md-6.col-md-push-6.product_price_info{
		text-align: center;
		margin-bottom: 40px;
	}

	.order_button_reset, .order_button_submit {
		width: 15%;
	}
	.coast_span.left{

	}
	.big_img img {
		width: 100%;
	}

    .center_33{
        margin-top: 20px;
    }


}
@media screen and (max-width: 768px) {
	#logotip{
		margin-bottom: 25px !important;
		text-align: center;
	}
	#logotip p{
		font-size: 130%;
	}
	#logotip img{
		width: 60%;
	}
	.navbar-form {
		margin-right: 0px;
		margin-left: 0px;
	}
	.navbar-nav {
		margin: 0;
	}
	#search input[type="text"] {
		width: 250px !important;
		height: 40px;
	}
	#search input[type="submit"] {

		padding: 10px 38px 10px 1px;
	}
	.inner_pro_inf div a, .inner_pro_inf span{
		font-size: 130% !important;
	}
	.product_cart p {
		font-size: 130% !important;
	}
	.carus{
		padding: 0;
	}

}
@media screen and (max-width: 713px) {

	.inner_pro_inf div a, .inner_pro_inf span{
		font-size: 120% !important;
	}
	.product_cart p {
		font-size: 120% !important;
	}
	.order_button_reset, .order_button_submit {
		width: 30%;
	}

}
@media screen and (max-width: 713px) {

	.inner_pro_inf div a, .inner_pro_inf span{
		font-size: 100% !important;
	}
	.inner_pro_inf div span{
		font-size: 100% !important;
	}

	.product_cart p {
		font-size: 120% !important;
	}

	.sort_link a {
		padding: 6px 10px;
	}
    .cart_field .left{
        width: 55%;
    }
    .cart_field .right{
        width: 45%;
    }
    .add_item {
    padding: 5px 6px;
    }
    .cart_field.name{
        font-size: 75%;
    }
    .cart_item {
        width: 27%;
    }
    .cart_field.item .cart_item:last-child {

    width: 17%;
    }
    .cart_field.item .cart_item:last-child img{
        margin-left: -7px;
    }

    .cart_field.name .cart_item:last-child {

    width: 17%;
    }
    .cart_img {
    margin: 14px 10px;
    }

}


@media screen and (max-width: 568px) {
	#logotip p{
		font-size: 100%;
	}
	#logotip img{
		width: 80%;
	}

	.col-md-3.col-sm-4.col-xs-6.product_cart{
		width: 85%;
	}

	.col-md-4.col-sm-4.col-xs-6.product_cart{
	  	width: 50%;
		font-size: 90%;
	}

	#logo_footer img:first-child{
		max-width: 100%;
	}
	#logo_footer{
		margin-top: 0;
	}
	#logo_footer a img{
		margin-right: 20px;
	}
	.small-hide{
		display: none;
	}
	.small-show{
		display: block;
	}
	.sort_link a {
		padding: 4px 10px;
		margin: 0 1px;
		line-height: 2em;
	}

	.sort_link a:nth-child(5), .sort_link a:last-child {
		padding: 4px 10px;
	}
	.product_cart p{
		font-size: 120% !important;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.inner_pro_inf div:first-child a{
		margin-top: 18px;
	}
	.inner_pro_inf div a{
		text-align: center;
	}
	.inner_pro_inf div {
		height: 55px;
		text-align: left;
	}
    .center_33{
        width: 100%;
        left: 0;
    }

    .cart.col-md-8 .cart_field.name{
        display: none;
    }
    .cart_field .left, .cart_field .right {
    width: 100%;
    }
    .cart_field.item .name{
        display: block;
    }
    .cart_field.item .right {
     margin-top: 0;
    }
    .cart_field.item .name .cart_item {
     margin: 0;
        color: #999999 !important;
    }
    .cart_field.item .name .right {
     margin: 10px 0 10px 0;
        background-color: #d6eaf8;
        font-size: 80%;
    }
	.field_input {
		width: 70%;
	}
	.ship .field_input input, .ship .field_input select{
		width: 70% !important;
	}
	.samoviv_item {
		width: 100%;
	}
	.samoviv_item:nth-child(2) {
		margin-left: 0px !important;
	}
	.cur_item {
		width: 100%;
	}
}
@media screen and (max-width: 470px) {
	.img_category img {
		max-width: 100%;
	}
	.img_category {
		padding-bottom: 15px;
		height: auto;
	}
	.sort_link span {
		font-size: 100%;
		margin-right: 5px;
	}
	.inner_pagination__links a {
		padding: 4px 4px 4px 8px;
		margin: 0 4px;
	}
	.pag_span {
		padding: 5px 10px 5px 9px;
		margin: 0 4px;
	}
	.product_cart p{
		position: initial;
		width: 100%;
		font-size: 118% !important;
	}
	.inner_pro_inf div:first-child a{
		margin-top: 20px;
	}
	.sale_item, .hits_item {
		left: -50px;
	}
	.inner_pro_inf div:last-child span:first-child {
		font-size: 110% !important;
	}
	.ship .field_input input, .ship .field_input select{
		width: 100% !important;
	}
	.field_input {
		width: 65%;
	}
	.field_span {
		width: 35%;
	}
	#action {
		padding-left: 0px;
		padding-right: 0px;
	}
	#action_top h4{
		font-size: 128%;
	}

}



@media screen and (max-width: 360px) {
	.inner_pro_inf div:last-child span:first-child {
		font-size: 98% !important;
	}
	#logotip p{
		font-size: 80%;
	}
	.navbar-nav>li>a {
		font-size: 120% !important;
	}
	#logotip img{
		width: 100%;
	}
	.order_button_reset, .order_button_submit {
		width: 40%;
	}
	.inner_pagination__links a {
		padding: 4px 2px 4px 6px;
		margin: 0 3px;
	}
	.pag_span {
		padding: 5px 8px 5px 7px;
		margin: 0 3px;
	}
	.sale_item, .hits_item {
		left: -24px;
	}
	.sale_item {
		height: 22px;
		top: 9px;
		font-size: 110%;
	}
    .submit a {
        padding: 10px 40px;
    }
    .prormo a {
        padding: 6px 9px;
    }
    .prormo input[type="text"] {
        width: 54%;
        color: #999999;
        border: 1px solid #cfe6f6;
        border-radius: 5px;
        padding: 7px 10px;
        font-size: 68%;
    }
	.field_input {
		width: 100%;
	}
	.field_span {
		margin: 15px 0 0px 0;
	}
	.field_span {
		width: 100%;
	}
	#action_bottom h4{
		font-size: 16px;
	}
	#action_bottom .right:after {
		left: -9px;
	}
	#action_bottom .right:before {
		left: -52px;
}
@media screen and (max-width: 320px) {
	.inner_pro_inf div a img {
		width: 35%;
	}
	.order_button_reset, .order_button_submit {
		width: 45%;
	}
	.inner_pro_inf div:last-child span:first-child {
		font-size: 90% !important;
	}
    .prormo a {
        padding: 6px 9px;
        font-size: 80%;
    }
    .submit a {
        padding: 10px 20px;
    }
    .cart_field.item p{
        height: 4.2em;
    }
	#action_bottom .right {
		margin-right: 0em;
	}
    
}




